* {
    margin: 0px;
    padding: 0px;
}

#title {
    width: 800px;
    height: auto;
    display: flex;
    margin: 0px auto;
    justify-content: center;
}

#title img {
    width: 400px;
    height: auto;
}

#title1 {
    margin-right: -35px;
}

@media screen and (max-width: 450px) {

    #title img {
        width: 340px;
        margin-bottom: -20px;
    }

    #title {
        width: 360px;
        height: auto;
        flex-direction: column;
        margin-top: 10px;
    }

    #title1 {
        margin-right: 0px;
    }

    #title2 {
        margin-top: -40px;
    }
}

@media screen and (max-width: 950px) and (orientation: landscape) {
    #title img{
        width: 300px;
    }

    #title{
        margin-top: 0px;
    }
}

@media screen and (max-width: 1400px) {
 
   #title{
       margin-bottom: -20px;
   }
  
  }

@font-face {
    font-family: "rmfont";
    src: url('/assets/font/PinkChicken-Regular.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}